.cards {
  position: relative;
}

.cards>ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overflow-x: scroll;
  flex-basis: 253px;
  width: 1000px;
  margin: auto;
}

.cards>ul>li {
  background-color: transparent;
  min-width: 223px;
  height: 487px;
  margin: 0 15px;
}

.cards>ul>li p {
  font-size: 16px;
  font-weight: 400;
  font-family: stb-light, sans-serif;
  line-height: 24px;
  max-width: 223px;
}

.cards>ul>li h3 {
  font-family: stb-s-bold, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  max-width: 223px;
}

.cards button {
  position: absolute;
  top: 50%;
  box-sizing: border-box;
  color: #000;
  text-decoration: none;
  appearance: none;
  border: none;
  background-color: transparent;
}

.cards .next::before {
  width: 30px;
  height: 68px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--highlight-background-color);
  content: url("/icons/chevron-right.svg");
}

.cards .previous::before {
  content: url("/icons/chevron-left.svg");
    width: 30px;
    height: 68px;
    border-radius: 24px;
    display: flex;
    line-height: 24px;
    align-items: center;
    justify-content: center;
    background-color: var(--highlight-background-color);
}

.cards .previous {
  left: 80px;
  transform: translateY(-50%) translateX(-100%);
  font-family: "system" system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cards .next {
  right: -80px;
  transform: translateY(-50%) translateX(-100%);
  font-family: "system" system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cards .cards-card-body {
  width: 253px;
  margin: 15px 0;
}

.cards .cards-card-image {
  line-height: 0;
  position: relative;
  z-index: -1;
}

.cards .cards-card-image a.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 52px;
  height: 52px;
}

.cards .cards-card-body>*:first-child {
  margin-top: 0;
}

.cards>ul>li picture>img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-bottom: 5px solid var(--highlight-background-color);
}