/* block specific CSS goes here */

main .hero-container > div {
  max-width: unset;
}
  
main .hero-container {
  padding: 0;
}
  
main .hero {
  position: relative;
  padding: 0;
  min-height: fit-content(100.06%);
  width: 100vw;
  height: auto;
}

main .hero h1 {
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

main .hero picture {
  position: absolute;
  z-index: -1;
  top: var(--callout-height);
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  box-sizing: border-box;
}

main .hero video {
  width: 100%;
  height: auto;
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

main .hero .bottom-callout, main .hero .top-callout {
  background-color: var(--highlight-background-color);
  height: 67px;
  width: 100%;
  padding: 0;
  margin: 0;
}

main .hero .bottom-callout {
  display: table;
  margin-top: -10px;
}

main .hero .top-callout {
  position: fixed;
  top: var(--nav-height);
}

main .hero .top-callout > div {
  max-width: 1200px;
  color: white;
  margin: auto;
  line-height: var(--nav-height);
}

main .hero .bottom-callout > div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
}
