.teaser {
  background-color: var(--background-color);
  position: relative;
  height: 407px;
}

.teaser.dark {
  background-color: var(--highlight-background-color);
  color: white;
}

.teaser > div {
  display: flex;
  flex-direction: column;
}

.teaser picture > img {
  width: 100%;
  border-bottom: var(--highlight-background-color);
  border-bottom-width: 5px;
  border-bottom-style: solid;
}

.teaser p {
  position: relative;
}

.teaser p a.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 52px;
  height: 52px;
}

.teaser > div > .columns-img-col img {
  display: block;
}

.teaser p a.play-button img {
  height: 100%;
  width: 100%;
}

.teaser > div > div {
  order: 1;
}

.teaser > div > .columns-img-col {
  order: 0;
  margin: auto;
}

@media (min-width: 900px) {
  .teaser > div {
    align-items: stretch;
    flex-direction: unset;
    gap: 32px;
    margin: 0 47px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .teaser > div > div {
    order: unset;
  }

  .teaser > div > div:first-child {
    width: 50%;
  }

  .teaser img {
    width: 522px;
    height: 268px;
  }

  .teaser .icon {
    width: unset;
    height: unset;
  }

  .teaser .icon img {
    width: 432px;
    padding: 0 15px;
  }

  .teaser.dark img {
    height: 100%;
    width: 100%;
  }

  .section.dark.teaser-container, .section.teaser-container {
    margin: 64px 0;
    padding: unset;
  }

  .section.teaser-container:has(.dark) {
    background-color: var(--highlight-background-color);
  }
}
