@font-face {
  font-family: stb-regular;
  src: url("../fonts/SoDoSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Din-bold;
  src: url("../fonts/D-DIN-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Din-regular;
  src: url("../fonts/D-DIN.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Din-Condensed;
  src: url("../fonts/D-DINCondensed-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: stb-light;
  src: url("../fonts/SoDoSans-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: stb-s-bold;
  src: url("../fonts/SoDoSans-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Symbol"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
